<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New reader</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="fullName">Full name: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">user_name_error</div>
    <br/>
    <br>

    <label for="yearOfBirth">Year of birth: </label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth">
    <div style="color: red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">user_year_error</div>
    <br>
    <br/>

    <input type="submit" value="Add"/>

</form>
</body>
</html>